


h1 {
    text-align: center;
    color:green;
}



p {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 20px;
}


    section{
    
        height: 110vh;
        text-align: center;
        background-color: rgba(0,0,0,.8);
        background-image: url('/eris.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;


        
    }  




.container{
    position: relative;
    text-align: center;
  
}
#block{
    border:4px solid green ;
    margin: 0;
    color: white;
}

      

  

.form{
    height: 100vh;
}
